/*******************IMPORTS*************************************/
/*****************************************************************/
@import url("bootstrap.css");


/********************GENERAL***************************************/
/******************************************************************/
body {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  color: #28a745;
}
.p20 {
  font-size: 22px;
}
.p28 {
  font-size: 34px;
  font-weight: bold;
}

.p13 {
  font-size: 13px;
}
a {
  text-decoration: none;
}
.nav-link {
  color: black;
}
.search {
  background-image: url('../images/search.jpg');
}
footer {
  background-color: gray;
  color: white;
}
